@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}

/* Estilos para el contenedor de imágenes en el INDEX */
/* Texto animado */
.tracking-in-contract-bck-bottom {
  animation: tracking-in-contract-bck-bottom 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.container-dark {
  background-color: #343a40;
  width: 100%;
  padding: 20px;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.text-overlay a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-overlay a:hover {
  text-decoration: underline;
}

.custom-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-container {
  height: calc(50% - 5px);
  position: relative;
}

.col-md-6 .image-container:first-child {
  margin-bottom: 10px;
}

#estiloh4 h4 {
  display: inline-block;
  background-color: black;
  font-family: sans-serif;
  color: white;
  margin: 10px;
  margin-left: 20px;
  padding: 5px;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.custom-card {
  height: 100%;
  width: 100%;
  margin: 10px;
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.list-group-item a {
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
}
.list-group-item a:hover {
  color: #d27131;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.list-group-item h5 {
  font-size: 1rem;
}

.tarjetita {
  max-width: 250px;
  margin: auto;
}
.tarjetita img {
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tarjetita .card-body,
.tarjetita .list-group-item {
  padding: 10px;
}
.tarjetita .card-title {
  font-size: 1.1rem;
}
.tarjetita .card-text {
  font-size: 0.9rem;
}

.forum-container {
  margin-top: 50px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.forum-topic {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
}
.forum-topic h3 a {
  text-decoration: none;
  color: rgba(3, 66, 133, 0.9098039216);
}
.forum-topic img {
  max-width: 50px;
  margin-right: 10px;
}

.bg-body {
  background-image: url(../img/music-1970040_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-bg-1 {
  background-image: url(../img/acordeon1.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-bg-2 {
  background-image: url(../img/back\ musicos.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-bg-3 {
  background-image: url(../img/s-l1200.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-bg-4 {
  background-image: url(../img/djjj.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-bg-5 {
  background-image: url(../img/tango.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-bg-6 {
  background-image: url(../img/tango.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-body {
  background-color: rgba(255, 255, 255, 0.6);
}

/** Estilo para Quienes somos<------------------------------------*/
/** ACORDEON*/
.accordion-button {
  background-color: #fff;
  color: #000;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #2e2d2d;
  color: #fff;
}
.accordion-button:not(.collapsed)::after {
  filter: invert(100%);
}

.accordion-body {
  color: #000;
}

.accordion-item {
  border: 1px solid #ccc;
}

.accordion-header {
  border-bottom: 1px solid #ccc;
}

a {
  color: #010a14;
}
a:hover {
  color: #0056b3;
}

.jello-horizontal {
  animation: jello-horizontal 0.9s both;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
h1 {
  font-size: 1.5rem;
}/*# sourceMappingURL=estilo.css.map */