/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
} */


/* Estilos para el contenedor de imágenes en el INDEX */
/* 
.container-ind {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "img-princi img-sec"
        "img-princi img-ter";
    background-color: #333;
    padding: 40px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.img-princi {
    background-color: #bc6969;
    grid-area: img-princi;
    position: relative;
}

.img-sec {
    background-color: rgb(52, 164, 112);
    grid-area: img-sec;
    position: relative;
}

.img-ter {
    background-color: #8a1111;
    grid-area: img-ter;
    position: relative;
}

.hijo {
    display: grid;
    border: 1px solid black;
    margin: 10px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* 
.text-img {
    position: absolute;
    bottom: 1px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    width: 100%;
} */

/* Segundo contenedor del INDEX*/

/* #estiloh4 h4 {
    display: inline-block;
    background-color: black;
    font-family: sans-serif;
    color: white;
    margin: 10px;
    margin-left: 20px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
 */



/* .custom-card {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.custom-card .card-img-top {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.custom-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
} */

 /** Estilo para Artistas <----------------*/

 /* .list-group-item a {
    color: inherit;
    text-decoration: none;
  }

  .list-group-item a:hover {
    color: #d27131; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  } */
/** Estilo para Foro<------------------------------------*/

/* .container-f {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border: 10px;
} */

/** Estilo para Generos<------------------------------------*/
/* 
.bg-body {
    background-image:url(../img/music-1970040_1280.jpg);
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.accordion-bg-1 {
    background-image: url(../img/acordeon1.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .accordion-bg-2 {
    background-image: url(../img/back\ musicos.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }


  .accordion-bg-3 {
    background-image: url(../img/s-l1200.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }


  .accordion-bg-4 {
    background-image: url(../img/djjj.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  .accordion-bg-5 {
    background-image: url(../img/tango.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }



  .accordion-body {
    background-color: rgba(255, 255, 255, 0.6); /* Fondo semitransparente para legibilidad */
  }
 */


  
/** Estilo para Quienes somos<------------------------------------*/

/** ACORDEON*/

/* 
  .accordion-button {
            background-color: #fff;
            color: #000;
        }
        .accordion-button:focus {
            box-shadow: none;
        }
        .accordion-button:not(.collapsed) {
            background-color: #2e2d2d;
            color: #fff;
        }
        .accordion-button:not(.collapsed)::after {
            filter: invert(100%);
        }
        .accordion-body {
            color: #000;
        }
        .accordion-item {
            border: 1px solid #ccc;
        }
        .accordion-header {
            border-bottom: 1px solid #ccc;
        }
        a {
            color: #010a14;
        }
        a:hover {
            color: #0056b3;
        }
 */



        /* MEDIA QUERIES PARA INDEX*/
        
/* 
@media screen and (max-width: 700px) {
    .container-ind {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "img-princi"
            "img-sec"
            "img-ter";
    }
    }
 */
