.list-group-item a {
    color: inherit;
    text-decoration: none;
  }

  .list-group-item a:hover {
    color: #d27131; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  
  .tarjetita {
    max-width: 250px; /* Ajusta el tamaño máximo de la tarjeta */
    margin: auto; /* Centra las tarjetas en su columna */
    
    img {
        max-height: 200px; /* Ajusta el tamaño máximo de la imagen */
        object-fit: cover; /* Hace que las imágenes se ajusten sin distorsionarse */
    }
    
    .card-body,
    .list-group-item {
        padding: 10px;
    }
    
    .card-title {
        font-size: 1.1rem;
    }
    
    .card-text {
        font-size: 0.9rem;
    }
    
    .list-group-item h5 {
        font-size: 1rem;
    }
    
    .list-group-item a {
        font-size: 0.9rem;
    }
}