.bg-body {
	background-image: url(../img/music-1970040_1280.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accordion-bg-1 {
	background-image: url(../img/acordeon1.jfif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accordion-bg-2 {
	background-image: url(../img/back\ musicos.jfif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accordion-bg-3 {
	background-image: url(../img/s-l1200.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accordion-bg-4 {
	background-image: url(../img/djjj.jfif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accordion-bg-5 {
	background-image: url(../img/tango.jfif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accordion-bg-6 {
	background-image: url(../img/tango.jfif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accordion-body {
	background-color: rgba(255, 255, 255, 0.6);
}
